@import "../../node_modules/angular-material/angular-material.css"
@import "./material-icons.styl"

#header
  img.profile
    margin-left -75px
    position absolute
    left 50%
    top 50px
    width 150px
    border-radius 50%
    border 3px solid #00BCD4

  .md-title
    margin 0
  .subtitle
    margin 0
    color #E0E0E0
    font-size 14px
    font-weight 500

@media(max-width: 768px)
  #header
    img.profile
      top 75px
      width 100px
      margin-left -50px


#main-content
  margin-top 20px

.container
  width 100%
  max-width 1200px
  margin 0 auto
