doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='css/main.css')
    meta(name='viewport' content='initial-scale=1')
  body(ng-keydown='fwEvent($event)', layout='column')

    md-toolbar#header.md-tall(layout-padding)
      img.profile(src='images/avatar.jpg')
      span(flex)
      div(layout='row')
        div(flex layout='column' layout-padding)
          h3.md-title Abdullah Ünal
          h3.subtitle Vibration & Acoustic Engineer, MSc
        div(flex layout='row' layout-align='end center')
          md-button.md-icon-button(href='https://www.linkedin.com/in/unalabd')
            md-tooltip Linkedin
            md-icon(md-svg-src='images/linkedin.svg')

      span(flex)
    #content.container
      md-card
        md-card-content
          p Hi, I am Abdullah.
          p Thanks for visiting my web page.
        md-actions(layout='row' layout-align='end center')
          md-button.md-accent(href='#')
            md-icon attachment
            | Resume

    script(src='js/bundle.js')
